{% extends "layout.html" %}


{% block script %}



<script>
function toggleView(items, target) {
  var items = document.getElementsByClassName(items)
  var target = target;
  for (item of items) {
    if (item.classList.contains(target)) {
          // Hide each element by class
      item.style.display = "";
    } else {
      item.style.display = "none"
    }
  }
}

// check all visible checkboxes
function checkAll() {
  // get all elements named 'check'
  checkboxes = document.getElementsByName('check');
  // iterate through, checking if they are displayed, if so set to checked
  for (var i=0; i < checkboxes.length; i++) {
    if (checkboxes[i].style.display == "none") {
    }
    else {
      checkboxes[i].checked = true;
    }
  }
}

// uncheck all visible checkboxes
function uncheckAll() {
  // get all elements named 'check'
  checkboxes = document.getElementsByName('check');
  // terate through, checking if they are displayed, if so set to unchecked
  for (var i=0; i < checkboxes.length; i++) {
    if (checkboxes[i].style.display == "none") {
    }
    else {
      checkboxes[i].checked = false;
    }
  }
}
</script>

<script>
function filter() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("cocktails");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("div")[0];
    txtValue = a.textContent || a.innerText;
    console.log(txtValue)
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}


{% block left %}

<form action="/cabinet" method="post">
  <input type="submit" value="Update Cabinet"><br>

  <ul class="overflow-auto" id="cocktails">

    <li>
      <div onclick="toggleView('item', 'item')">All<br><br> </div>

    {% for category in drinks_cabinet.categories %}


    <li>
      <div onclick="toggleView('item', '{{category}}')">{{category}}<br></div>
    </li>


  {% endfor %}
  
  {% endblock %}


  {% block right %}
 <button type="button" onclick="checkAll()">all</button> 
 <button type="button" onclick="uncheckAll()">none</button> 
 

  {% for item in drinks_cabinet.items %}
    {% set category = drinks_cabinet.items[item]['category'] %}
    
    {% set status = "" %}
    {% if drinks_cabinet.items[item]['have'] %}
      {% set status = "checked" %}
    {% endif %}
  
  <div class="item {{category}}">
    <input class="item {{category}} form-check-input" type="checkbox" name="check" value="{{item}}" {{status}}>
    <label class="item {{category}} form-check-label" for="{{item}}">{{item}}</label><br>
  </div>

{% endfor %}

</form>
  
{% endblock %}
