{% extends "layout.html" %}


{% block script %}



<script>
function toggleView(items, target) {
  var items = document.getElementsByClassName(items)
  var target = target;
  for (item of items) {
    if (item.classList.contains(target)) {
          // Hide each element by class
      item.style.display = "";
    } else {
      item.style.display = "none"
    }
  }
}

// check all visible checkboxes
function checkAll() {
  // get all elements named 'check'
  checkboxes = document.getElementsByName('check');
  // iterate through, checking if they are displayed, if so set to checked
  for (var i=0; i < checkboxes.length; i++) {
    if (checkboxes[i].style.display == "none") {
    }
    else {
      checkboxes[i].checked = true;
    }
  }
}

// uncheck all visible checkboxes
function uncheckAll() {
  // get all elements named 'check'
  checkboxes = document.getElementsByName('check');
  // terate through, checking if they are displayed, if so set to unchecked
  for (var i=0; i < checkboxes.length; i++) {
    if (checkboxes[i].style.display == "none") {
    }
    else {
      checkboxes[i].checked = false;
    }
  }
}
</script>

<script>
function filter() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("cocktails");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("div")[0];
    txtValue = a.textContent || a.innerText;
    console.log(txtValue)
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}


{% block left %}


          <div class="wrapper" style="text-align: center">
          <button class="btn btn-light btn-small d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#hide" aria-expanded="true" aria-controls="hide" onclick="remrecipie()">
            Show Categories
            </button>
            </div>
          <div>
            <div class="container overflow-auto collapse in d-sm-block text-center" style="height:100%" id="hide">



  <ul class="overflow-auto nav flex-column">
  <li class="nav-item d-none d-sm-block">
<form action="/cabinet" method="post">
  <input type="submit" class="btn btn-dark " value="Update Cabinet"><br>
</li>


    <li class="nav-item">
      <a class="nav-link text-dark fw-bold" onclick="toggleView('item', 'item')" data-bs-toggle="collapse" data-bs-target="#hide">All </a>
    </li>
    

    {% for category in drinks_cabinet.categories %}


    <li class="nav-item">
      <a class="nav-link text-muted d-none d-sm-block" onclick="toggleView('item', '{{category}}')" >{{category}}</a>
      <a class="nav-link text-muted d-block d-sm-none" onclick="toggleView('item', '{{category}}')" data-bs-toggle="collapse" data-bs-target="#hide">{{category}}</a>

    </li>
      {% endfor %}
    </ul>


              </div>
            </div>
  
  {% endblock %}


  {% block right %}
<div class="container" style="height: 5%">
  <div class="row">
    <div class="col">
      <input type="submit" class="btn btn-dark d-sm-none" value="Update">
      <button type="button" class="btn btn-light" onclick="checkAll()">all</button> 


      <button type="button" class="btn btn-light" onclick="uncheckAll()">none</button> 
      </div>
    </div>
  </div>
<div class="container overflow-scroll" style="height: 90%">
  <div class="row">
    <div class="column">
      <ul class="overflow-auto list-group list-group-flush nav" id="items">
  
  {% for item in drinks_cabinet.items %}
    {% set category = drinks_cabinet.items[item]['category'] %}
    
    {% set status = "" %}
    {% if drinks_cabinet.items[item]['have'] %}
      {% set status = "checked" %}
    {% endif %}
  

        <li class="item {{category}} list-group-item">
          <input class="form-check-input item {{category}}" type="checkbox" name="check" value="{{item}}" {{status}} style="accent-color: gray"></input>
          <label class="item {{category}} form-check-label" for="{{item}}">{{item}}</label>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

</form>

  
{% endblock %}
