{% extends "layout.html" %}


{% block script %}

<script>
async function addRecipie(number) {
  var addition
  let response = await fetch('/drink?id=' + number);
  let drink = await response.json();
  document.getElementById("ingredients").innerHTML = null
  document.getElementById("drinkname").innerHTML = drink["name"];   
  document.getElementById("glass").innerHTML = drink["glass"]; 

  for (let i = 0; i < drink["ingredients"].length; i++) {
    var ingredient = ((drink["measures"][i] + " " + drink["ingredients"][i].trim() + "<br>").replace("  ", " ").replace("null ", "").replace("None ", ""))
    if (drink["missing"].includes(drink["ingredients"][i])) { 
    addition = `<div class="ingredients_lack">${ingredient}</div>`
    }
    else { 
    addition = `<div class="ingredients_have">${ingredient}</div>`
    }
    document.getElementById("ingredients").innerHTML += addition
    
    
  }
  document.getElementById("instructions").innerHTML = drink["instructions"]; 
  //where element is in ingredients_lack class, make dull
  var lacks = document.getElementsByClassName("ingredients_lack")
  for  (i = 0; i <lacks.length; i++) {
        console.log(lacks[i])
        lacks[i].style.fontWeight = "lighter";
  }
}

</script>


<script>

function refreshCocktails() {
  // Declare variables
  var input, ul, li, a, i, filter, txtValue, index;
  // get acceptable missing number from slider
  index = document.getElementById("myRange").value
  //get the elements from html
  ul = document.getElementById("cocktails");
  li = ul.getElementsByTagName('li');
  // get the current textfilter value
  input = document.getElementById('text_filter');
  filter = input.value.toUpperCase();
  // Loop through all list items
  for (i = 0; i < li.length; i++) {
    //get individual list item
    a = li[i].getElementsByTagName("div")[0];
    // extract tag stating number of missing
    missing = a.attributes.missing.textContent
    // and the text value
    txtValue = a.textContent || a.innerText;
    // hide all by default
    li[i].style.display = "none"   
    // show if meets the text filter
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";}  
    //if no ingredients missing then display at normal text weight
    if (missing == 0){
      li[i].style.fontWeight = "400";
    //if acceptable number missing display at light text weight
    } else if (missing <= index) {
      li[i].style.fontWeight = "lighter";
    //otherwise, if unacceptable number missing, hide
    } else {
      li[i].style.display = "none";
    }
  }
}



</script>

{% endblock %}



{% block left %}

  <div id="selector" class="slidecontainer">



    <span>Missing ingredients:</span>
    <span id="f"></span>
    <br>
    <input type="range" min="0" max="9" value="0" class="slider" id="myRange" onpointerup="refreshCocktails()">
  </div>
  <div class="search">
    <input id="text_filter" type="text" onkeyup="refreshCocktails()" placeholder="Search">
  </div>
  
  <ul class="overflow-auto"  id="cocktails">
  
  {% for cocktail in cocktails %}
      <li>
        <div missing="{{cocktail.number_missing}}" class="nav-link active" onclick="addRecipie('{{cocktail.id}}')">{{cocktail.name}}<br></div>
      </li>
  {% endfor %}
  
  </ul>
  
  
<script>var slider = document.getElementById("myRange");
var output = document.getElementById("f");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
} 
</script>


<script>
// update cocktail list on load
  window.onload = refreshCocktails()
</script>
{% endblock %}



{% block right %}

<div id="drink">

  <h1 id="drinkname"></h1>
  
  <p id="glass"><p>
   
  <p id="ingredients"><p>
    
  <p id="instructions"></p>

</div>
 
{% endblock %}






